# Ignore node_modules folder
node_modules

# Ignore any log files
*.log

# Ignore Docker-specific files
Dockerfile
.dockerignore

# Ignore development files
package-lock.json
yarn.lock

# Ignore any testing files or directories
test/
tests/
spec/
specs/

# Ignore editor-specific files
.vscode/
.idea/

# Ignore other files and directories not needed in the Docker image
.git
.gitignore
