/* Overall scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

/* Track (background) */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle (scrollbar thumb) */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

body {
    font-family: Arial, sans-serif;
}

#chat-box {
    overflow-y: auto;
    height: 300px;
}

.inner-shadow {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.message {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
}
.user-message {
    text-align: right;
    background-color: white;
    color: black;
    border: 2px solid black;
}
.bot-message {
    text-align: left;
    background-color: white;
    border: 2px solid blue;
    color: black;
}

.bg-3b3b3b {
    background-color: #3b3b3b;
}

#character {
    width: 240px;
}

.character {
    width: 240px;
}

.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
  }
  
  .colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
  }
  
  .colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
  }
  
  .colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
  }
  
  .colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
  }
  
  .colored-toast .swal2-title {
    color: white;
  }
  
  .colored-toast .swal2-close {
    color: white;
  }
  
  .colored-toast .swal2-html-container {
    color: white;
  }
  