* {
    font-family: "selection";
}
/* Overall scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

/* Track (background) */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle (scrollbar thumb) */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    font-family: Arial, sans-serif;
}

#chat-box {
    overflow-y: auto;
    height: 300px;
}

.inner-shadow {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.message {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
}
.user-message {
    text-align: right;
    background-color: white;
    color: black;
    border: 1px solid black;
}
.bot-message {
    text-align: left;
    background-color: white;
    border: 1px solid rgb(0, 204, 255);
    color: black;
}

.bg-3b3b3b {
    background-color: #3b3b3b;
}

#character {
    width: 240px;
}

.character {
    width: 240px;
}

.custom-toast-container {
    position: fixed;
    top: 42%; /* Example decimal value */
    right: 6.5%; /* Example decimal value */
    padding: 1rem; /* Example decimal value */
    z-index: 11;
}

.toast {
    background-color: #fff; /* Replace with your preferred color */
    color: #000; /* Text color */
    border-radius: 0.25rem; /* Adjust border radius if needed */
}

.toast-header {
    background-color: #fff; /* Darker shade for the header */
    color: #000; /* Text color for header */
}

.btn-close {
    filter: brightness(0) invert(1); /* White color for close button */
}
